extends ../layouts/application.pug

block header
  = t('views.users.edit.header')

block content
  +formFor()(action=route('updateUser', { id: userToEdit.id }) method='post')
    +input(userToEdit, 'firstName', errors)(type="text")
    +input(userToEdit, 'lastName', errors)(type="text")
    +input(userToEdit, 'email', errors)(type="text")
    +input(userToEdit, 'password', errors)(type="password")
    +submit(userToEdit)(value=t('views.users.edit.submit'))