extends ../layouts/application.pug

block header
  =t('views.statuses.new')

block content
  +formFor()(action=route('createNewStatus') method='post')
    +input(status, 'name', errors)(type="text")
    +submit(status)(value=t('views.statuses.new.submit'))
