extends ../layouts/application.pug

block header
  = t('views.tasks.editTitle')

block content
  +formFor()(action=route('updateTask', { id: taskToEdit.id }) method='post')
    +input(taskToEdit, 'name', errors)(type="text")
    +textarea(taskToEdit, 'description', errors)(rows="3")
    +select(taskToEdit, 'statusId', errors, users)
    +select(taskToEdit, 'executorId', errors, statuses)
    +input(name="_method" type="hidden" value="patch")
    +submit(taskToEdit)(value=t('views.tasks.edit'))